<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>Students Details</thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Registration Number</th>
            <th>Actions</th>
        </tr>
        {% for data in std_data %}
        <tr>
            <td>{{data.FirstName}}</td>
            <td>{{data.SecondName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.Age}}</td>
            <td>{{data.regNo}}</td><br>

            <td><a href="{% url 'updateStd' data.pk %}">Update</a></td>
            <td><a href="{% url 'deleteStd' data.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>