<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=''>
        {%csrf_token%}
        <label for="firstname">Firstname</label>
        <input type="text"name ='fname'required><br>
        <label for="secondname">Secondname</label>
        <input type="text"name ='sname'required><br>
        <label for="email">email</label>
        <input type="text"name ='email'required><br>
        <label for="age">Age</label>
        <input type="integer"name ='age'required><br>
        <label for="regNo">RegNo</label>
        <input type="text"name ='regNo'required><br>
        <button type="submit">Submit</button>
        

        
    </form>
    
</body>
</html>